.project-section {
  padding: 100px 0 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #f6e2bc;  
}

.project-card {
  background: linear-gradient(45deg, #3b7097 0%, #458aac 100%);
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
  width: 280px;
  height: 500px;
  text-decoration: none;
  border-radius: 4px;
}

.project-card:hover {
  transform: scale(1.11);
  transition: all 0.4s ease-out;
  color: #1c2237;
}

.project-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}

.project-heading {
  color: #3b7097;
  margin-bottom: 24px;
}

.project-summary {
  padding-bottom: 30px;
  color: #3b7097;
}

.project-cardInfo {
  display: flex;
  flex-direction: column;
  height: 500px;
  padding: 24px;
  align-items: center;
  color: #fff;
}

.project-image {
  max-width: 100%;
  height: 150px;
  width: 150px;
  border-radius: 5px;
}

.project-cardInfo h3 {
  margin-top: 18px;
  margin-bottom: 5px;
  font-size: 24px;
}

.project-cardInfo p {
  margin-bottom: 18px;
  font-size: 14px;
}

.techstack {
  margin: 16px 0 32px;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techstack li {
  margin-bottom: 10px;
}

@media screen and (max-width: 960px) {
  .project-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .project-card {
    width: 90%;
  }

  .project-wrapper {
    margin: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-card:hover {
    transform: none;
  }
}

@media screen and (max-width: 667px) {
  .project-container {
    grid-template-columns: 1fr;
  }
}