.home {
  padding: 160px;
  color: #fff;
}

.home-row {
  align-items: center;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  /* flex-wrap: wrap; */
  align-content: stretch;
}

.text-wrap {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #D1CCDC;
}

.dark {
  color: #3b61e9;
}

.darkBg {
  background-color: #0d2e75;
}

.description {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.col-bottom {
  margin: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  align-items: center;
}

.card-wrap {
  background: #eee5e7;
  border: none;
  box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);
  border-radius: 20px;
  text-align: center;
  width: 250px;
  transition: transform .3s;
}

.card-wrap:hover{
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px rgba(0,0,0,0.3);
}

.card-wrap img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.card-text {
  padding: 0 20px 20px;
}

.card-text h3{
  text-transform: uppercase;
}

@media screen and (max-width: 768px){
  .col-bottom {
    grid-template-columns: repeat (2, 1fr);
  }
}

@media screen and (max-width: 500){
  .col-bottom {
    grid-template-columns: repeat (1, 1fr);
  }

  .card-wrap {
    text-align: center;
  }
}