.app {
  height: 100vh;
}

.section {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: lightpink;
  position: relative;
  top: 80px;

  > *{
    width: 100vw;
    height: calc(100vh - 80px);
  }
}
